<ion-header class="contentHeader">
  <img src="../../assets/icon/logo_bhd.svg" class="logoBhd" alt="">
</ion-header>

<ion-content class="contentLogin">
  <div class="inputText m100">
    <ion-input type="text" value="" placeholder="Documento de identidad"></ion-input>
    <img src="../../assets/icon/persona.svg" alt="" class="iconText">
  </div>


  <div class="inputText m20">
    <ion-input type="text" value="" placeholder="Documento de identidad"></ion-input>
    <img src="../../assets/icon/llave.svg" alt="" class="iconText">
  </div>

  <div style="margin-top:29px; margin-left: 15px;">
    <ion-toggle style="height:25px;"></ion-toggle>

   <span style="position:absolute;  margin-left:15px; font-size: 20px;"> recuerda mi usuario</span>
  </div>

  <div class="contentSubmit">
    <ion-input type="submit" value="INICIAR SESIÓN" class="submit"></ion-input>
  </div>

  <div class="dateHelp" >
    <div class="contentRedirect">
      <a href="#" class="" style="background-color:transparent !important;">AYUDA PARA INICIAR SESIÓN</a>
    </div>

    <div style="margin-top:32px; text-align: center;"> Septiembre 07 - 12:00 P.M.</div>
  </div>
</ion-content>